body{
  margin: 10px;
  padding: 20px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.5vw;
}
main{
    display: grid;
  grid-template-columns: 100%;
}
.header{
    display: flex;
    box-shadow: 0px 8px 5px -5px gray;
    margin-bottom: 30px;
}
#logo{
    align-self: center;
}
.header h1{
    margin-left: 50px;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 5vw;
}
.dropbtn {
    padding: 16px;
 }.dropdown {
    position: relative;
    display: none;
}
.dropdown img{
    width:30px;
}
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }
 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
 }.dropdown-content a:hover {
    background-color: #ddd;
 }.dropdown:hover .dropdown-content {
    display: block;
 }
#navbar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
#navbar a{
    text-decoration: none;
    color:grey;
}
.header-image{
    padding: 0px 0px;
    margin: 0px 0px;
    position: relative;
    text-align: start;
    overflow: hidden;
    border: 1px solid black;
}
.header-image img{
    width: 100%;
    height: auto;
}
.bottom-left {
    position: absolute;
    bottom: 0em;
    background: white;
    padding: 1.5em;
    color: gray;
}
.headline-sec h3{
    display: flex;
    justify-content: space-between;
    color:darkslategray;
    padding-bottom: 5px;
    box-shadow: 0 5px 5px -5px grey;
}
.headline-sec>h3>a{
    text-decoration: none;
    color:darkslategray;
}
.headline-sec>ul>li{
    list-style-type: symbols(cyclic ">>");
    color:darkslategray;
    padding: 4px 0px;
    box-shadow: 0 5px 5px -5px grey;
}

.sports-sec table{
    width: 100%;
    color:darkslategray;
}
.sports-sec table td{
    padding:1vw;
    text-align: center;
}
.sports-sec table td:nth-child(1){
    text-align: left;
}
.sports-sec table td:nth-child(3){
    text-align: right;
}
.sports-sec table td:nth-child(4){
    text-align: left;
}
.weather-sec{
    color: darkslategray;
}
.weather-sec div{
    display: flex;
}
.weather-sec table{
width: 100%;
text-align: center;
}
.weather-sec img{
    width: 22%;
    height: auto;
}
.weather-sec h1{
    padding-top: 20px;
    font-size: 50px;
    font-weight: lighter;
}
.weather-sec table img{
    width:75%;
    height: auto;
}
.news-sec h3{
    display: flex;
    justify-content: space-between;
    color:darkslategray;
}
.news-sec>h3>a{
    text-decoration: none;
    color:darkslategray;
}
.news-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: darkslategray;
}
.news-sec>div{
    margin-bottom: 10px;
}
.news-sec>div>img{
    float: left;
    margin: 0px 10px 2px 0px;
    width: 15%;
    height: auto;
}
.news-sec h4,p{
    margin: 0px 0px 15px 0px;
}
#footitem{
    box-shadow: 0px 8px 5px -5px gray;
    padding: 20px 20px;
    border-top: 1px solid grey;
}
#footitem a{
    text-decoration: none;
    color:black;
    padding-right: 40px;
    opacity: 0.8;
}

/* style for tablet using media query */
@media screen and (min-width:768px) and (max-width:1024px){
    main{
        display: grid;
      grid-template-columns: 60% 40%;
    }  
#logo > img{
   width: 60px;
   height:auto;
   align-self: center;
}
.header h1{
    margin-left: 30px;
    margin-top: 50px;
}
.weather-sec{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.weather-sec img{
    height: 50%;
    width:auto;
    padding-top: 0px;
}
.weather-sec h1{
    padding-top: 0px;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 0px;
}
.weather-sec h2{
    margin-bottom: 0px;
}
.weather-sec h3{
    margin-top: 0px;
}
.bottom-left {
    background: black;
    opacity: 0.75;
    color:white;
}
.headline-sec,.sports-sec,.news-sec{
    grid-column: 1 / 3;
}
.sports-sec>table>thead{
background-color:darkgray;
color: white;
}
.sports-sec>table tr:nth-child(even){
    background-color: lightgrey;
}
.news-sec div h4{
    text-decoration:underline;
}
} 
/* style for mobile using media-query */
@media screen and (min-width:320px) and (max-width:767px){
.dropdown {
    display:block;
    align-self: center;
}
#navbar{
    display: none;
}
#logo > img{
    width: 40px;
    height:auto;
    align-self: center;
    margin-bottom: 0px;
}
.header{
     margin-bottom: 0px;
     justify-content: space-between;
}
 .header >div>h1{
    margin: 15px 10px;
}
.bottom-left {
    background: black;
    opacity: 0.8;
    color:white;
    padding: 0px;
}
.bottom-left h2{
    font-size: 12px;
}
.bottom-left p{
    font-size: 10px;
}
.headline-sec{
    font-size: 10px;
}
.sports-sec table{
    font-size: 10px;
}
.sports-sec>table>thead{
    background-color:darkgray;
    color: white;
}
.sports-sec>table tr:nth-child(even){
        background-color: lightgrey;
}
.weather-sec img{
    height: 50%;
    width:auto;
    padding-top: 0px;
}
.weather-sec h1{
    padding-top: 0px;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 0px;
}
.weather-sec h2{
    margin-bottom: 0px;
    font-size: 10px;
}
.weather-sec h3{
    margin-top: 0px;
    font-size: 10px;
}
.weather-sec table,.news-sec,#footitem{
    font-size: 10px;
}
.news-sec h4{
    font-size: 12px;
}
#footitem a{
    padding-right: 15px;
}
}
